<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>longnlt.controllers.utility.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogDataController</servlet-name>
        <servlet-class>longnlt.controllers.utility.LogDataController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductLogController</servlet-name>
        <servlet-class>longnlt.controllers.admin.AdminProductLogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProductLogController</servlet-name>
        <servlet-class>longnlt.controllers.user.UserProductLogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>longnlt.controllers.utility.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogProductController</servlet-name>
        <servlet-class>longnlt.controllers.admin.AdminLogProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAndUpdateController</servlet-name>
        <servlet-class>longnlt.controllers.admin.DeleteAndUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>longnlt.controllers.admin.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductLogController</servlet-name>
        <servlet-class>longnlt.controllers.admin.AddProductLogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchController</servlet-name>
        <servlet-class>longnlt.controllers.admin.AdminSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogProductController</servlet-name>
        <servlet-class>longnlt.controllers.user.UserLogProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchController</servlet-name>
        <servlet-class>longnlt.controllers.user.UserSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddToCartController</servlet-name>
        <servlet-class>longnlt.controllers.user.UserAddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCartController</servlet-name>
        <servlet-class>longnlt.controllers.user.LoadCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogDataController</servlet-name>
        <url-pattern>/LogDataController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductLogController</servlet-name>
        <url-pattern>/AdminProductLogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProductLogController</servlet-name>
        <url-pattern>/UserProductLogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogProductController</servlet-name>
        <url-pattern>/AdminLogProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAndUpdateController</servlet-name>
        <url-pattern>/DeleteAndUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductLogController</servlet-name>
        <url-pattern>/AddProductLogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchController</servlet-name>
        <url-pattern>/AdminSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogProductController</servlet-name>
        <url-pattern>/UserLogProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchController</servlet-name>
        <url-pattern>/UserSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddToCartController</servlet-name>
        <url-pattern>/UserAddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCartController</servlet-name>
        <url-pattern>/LoadCartController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LogDataController</welcome-file>
    </welcome-file-list>
</web-app>
